@media screen and (min-width: 320px){
    
    .about{
        padding: 19px 10px;
        margin: 0px 15px;
        background-color: #071129;
    }
    div .text-about {
        font-size: 46px;
        color: #ABB2B9;
    }

    div .text-about-p {
        font-size: 42px;
        color: #7590ab;
    }
     

    section.about div.about-container img {
        margin: 26px;
    }
}