@media screen and (min-width: 400px) {

    .formcontacto {
        background: #36073b;
        padding: 16px;
        width: 400px;
        height: 450px;
        align-content: center;
        text-align: center;


    }

    div .contact {
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 390px;
        align-items: center;
        margin-top: 10px;
        margin-left: 50px;
        padding-bottom: 15px;
        
        background: linear-gradient(rgb(244, 243, 245), 10%, rgb(212, 206, 243))

    }

    section.formcontacto .contact {
        margin: 30px;
        padding-bottom: 10%;
    }

    form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        align-items: center;
        
    }

    textarea {
        width: 200px;
    }

    
}