
section.academic {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    justify-content: space-around;
    background-color: #EAF2FD;
    
}

section.academic div.courses {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

section.academic div.courses ul.alura-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.academic div.courses ul li {
    padding: 10px;
    
}

section.academic div.courses ul li.course-img-a  {
    padding: 5px;
}

section.academic div.courses ul li.course-img-t  {
    padding-top: 5px;
}

section.academic div.courses ul li img:nth-child(1){
    height: 5vh;
}

section.academic div.courses ul li.course-img {
    padding: 1% 5%;
}

section.academic div.courses ul li.course-title h4 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: -25px;
    text-align: center;
}

section.academic div.courses ul li.course-subtitle {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}
