@media screen and (min-width: 400px) {
    section.academic {
        background-color: #EAF2FD;
    }

    section.academic div.courses {
        margin: 0 auto;
        text-align: center;
    }

    section.academic div.courses ul {
        margin: 0;
        padding: 0;
    }

    section.academic div.courses ul li {
        padding: 0;
        margin: 32px;
    }

    section.academic div.courses ul li img:nth-child(1){
        margin-top: 18px;
    }

    section.academic div.courses ul li.course-img {
        background-color: white;
    }

    section.academic div.courses ul li.course-title h4 {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: -25px;
        text-align: center;
    }

    section.academic div.courses ul li.course-subtitle {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
    
}