body{
    background-image: url(/img/code-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    display: flex;
}
.container-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
nav {
    display:flex;
    
}
a.navbar-brand{
    font-size: 28px;
}

