
/*mobile*/

@media screen and (min-width: 400px){
    .todo {
        margin: 0 16px 0 16px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: hsl(285, 5%, 85%);
    }

Header {
    background-color: #ffffffcc;
    
}
nav {
    display: flex;
    justify-content: flex-end;

}

    /* Para cambiar menu de navegacion tenemos que elegir un display flex*/
    

    

    
}

