/*Hobbies*/

@media screen and (min-width: 400px) {

    section.hobbies-section div.hobbies-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }   
    
    
    section.hobbies-section div.hobbies-line div.hobbies-box {
        padding: 0;
    }

    section.hobbies-section div.hobbies-line div.hobbies-box li {
        font-size: 20px;
        
    }
    
}