
@media screen and (min-width: 400px){
    .logo-header {
        margin: 5px;
        width: 6rem;
    } /*Logo restaurado !!!*/
    .iconos {
        width: 4rem;
        padding: 9%;
    }
    .profile {
        margin: 0 0 0 20px;
        width: 20vh;
        border-radius: 175px;
        border-color: black;
        box-shadow: 12px 9px 8px 5px rgb(15, 14, 14);
    }

    div.experiencia-box img {
        width: 20%;
    }


    .codificacion {
        width: 10%;
    }

    

    .hobbies-img {
        width: 4rem;
    }
}

@media screen and (min-width: 700px){
    
    .hobbies-img {
        width: 4rem;
    }

    div.experiencia-box img {
        width: 20%;
    }

}
