
@media screen and (min-width: 320px){
    /*Logo restaurado !!!*/
    .iconos {
        width: 4rem;
        padding: 9%;
    }
    /*.perfil {
        margin: 0 0 0 0px;
        width: 20vh;
        border-radius: ;
        border-color: black;
        box-shadow: 12px 9px 8px 5px rgb(167, 86, 86);
    }*/

    div.experiencia-box img {
        width: 10%;
    }


    .codificacion {
        width: 10%;
    }

    

    .hobbies-img {
        width: 4rem;
    }

    .d-block w-100 opacity-25{
        width: 300px;
    }
}

@media screen and (min-width: 700px){
    
    .hobbies-img {
        width: 4rem;
    }

    div.experiencia-box img {
        width: 20%;
    }

}
