/* Mobile */
@media screen and (min-width: 400px) {
    .title div img {
        width: 250px;
        height: 250px;
        border-radius: 75%;
    }
    button :hover {
        color: blue;
    }
}