.px-4 .py-5 .my-5 .text-center{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

div .containerPerfil {
    display: flex;
    justify-content: center;
    width: auto;
    align-content: center;
    box-shadow: rgb(96, 32, 151) 5px 8px 6px 2px;
    border-radius: 55%;
    Margin: 6px 865px;
}

.perfil{
    width: 32vh;
    height: 38vh;
    border-radius: 55%;
}




button :hover {
    color: blue;
}
